{% extends "layout.html" %}


{%block title%}
    <h1 class="title">About</h1>
{%endblock title%}

{% block content %}

    <p class="subtextPara">
        This project was developed for personal development. It is a simple analytics app used to display real-time data from the Riot Games server, <br>
        for players of the Leauge of Legends game. Data is collected via the Riot Games API.
    </p>

    <h4 class="subtext"> Technologies used</h4>
    <p class="subtextPara">

        <ul>
            <li>Python</li>
            <ul>
                <li>Flask</li>
                <li>Pandas</li>
                <li>Statsmodel</li>
            </ul>
            <li>JavaScript</li>
            <ul>
                <li>ChartJS</li>
            </ul>
            <li>HTML</li>
            <li>CSS</li>
            
        </ul>
        
    </p>

    <p class="subtextPara">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </p>


{%endblock content%}