
    {% extends "layout.html" %}
    {%block title%}
    <h1 class="title">Welcome Summoner x!</h1>
    {%endblock title%}
    {% block content %}
    <div class="container-graph">
        <canvas id="wrChart" width="500" height="200"></canvas>
        <canvas id="wrChart2" width="500" height="200"></canvas>
    </div>      
    
 
    <script>
        var ctx = document.getElementById("wrChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{labels | safe }},
                datasets: [
                    {
                    label: "Win Rates",
                    data: {{ win_rates | safe }},
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    }
                ]
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
           
        });

        var ctx = document.getElementById("wrChart2").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{labels | safe }},
                datasets: [
                    {
                    label: "Win Rates",
                    data: {{ win_rates | safe }},
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
    
    
    {%endblock content%}
    
    
