    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% extends "layout.html" %}
    {%block topnav%}{%endblock topnav%}
    {%block sidebar%}{%endblock sidebar%}
    {%block title%}
    <h1 class="welcome"> League Analytics</h1>
    {%endblock title%}
    {% block content %}



        <div class="float-child2">
                    
          
                xxxxxxxxx
         
          
        </div>

    
    {%endblock content%}
    
    
