
    {% extends "layout.html" %}
    {%block title%}
    <h1 class="welcome">League Analytics</h1>
    {%endblock title%}
    {%block topnav%}
    {%endblock topnav%}
    {%block sidebar%}
    {%endblock sidebar%}

    {%block content%}
    <form id="form"> 
        <input type="search" id="query" name="q" placeholder="Summoner name...">
    </form>
    <div  class="whyex">
        <button>Download data</button>
    </div>
    <div  class="whyex">
        <button>Download example data</button>
    </div>
    <div  class="whyex">
        <button>Why use example data</button>
    </div>
    
    {%endblock content%}



    
    
