<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    
    <title>League Analytics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class="body">

    {%block topnav%}
    <div class="topnav">
        <nav>
            <ul>
            <li class="menu"><a href="#"> Menu </a>
                <ul>
                    <li><a href="{{url_for('overview', user = user, region = region, test = test)}}">Overview</a></li>
                    <li><a href="{{url_for('stats', user = user, region = region, test = test)}}">Game stats</a></li>
                    <li><a href="{{url_for('roles', user = user, region = region, test = test)}}">Roles</a></li>
                    <li><a href="{{url_for('timeseries', user = user, region = region, test=test)}}">Time-Series</a></li>
                    <li><a href="{{url_for('home')}}">New search</a></li>
                </ul>
                
            <li><a href="#">Rank :  {{rank}}</a></li>
            <li><a href="#">Games downloaded: {{total_games}}</a></li>
            <li><a href="#">Wins: {{wins}}</a>
            <li><a href="#">Losses: {{losses}}</a>
            <li><a href="#">Win-rate: {{wr}}% </a>
          </nav>
    </div>
    {%endblock topnav%}


          
    <div class="content">
        {%block title%}
        <h1 class="title">Results for {{user}}</h1>
        
        {%endblock title%}
        <!-- Page content -->
        <div class="float-container"></div>
        {%block content%}

        {%endblock content%}
        
    </div>
        

</body>
</html>