    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% extends "layout.html" %}
    {%block topnav%}{%endblock topnav%}
    {%block sidebar%}{%endblock sidebar%}
    {%block title%}
    <h1 class="welcome"> League Analytics</h1>
    <h5 class="subtitle"> Data loaded in</h5>
    
    {%endblock title%}
    {% block content %}
   
    
    <form action="{{ url_for('overview', user = user, region = region, data = data, wins = wins, losses = losses, wr = wr, total_games = total_games, rank = rank, n = n) }}">
        <button>Hi</button>
    </form>


        
        
                                     

        

            
                 
        
    

    {%endblock content%}
    
    
