
    {% extends "layout.html" %}
  
    {% block content %}

    <div class="float-container">

        <div class="float-child">
          <h2 class="title2"> What's winning you games?</h2>
          <h3> Ex1</h3>
          <p>teeeext </p>
          <h3> Ex1</h3>
          <p>teeeext </p>
          <h3> Ex1</h3>
          <p>teeeext </p>
          <h3> Ex1</h3>
          <p>teeeext </p>
          <h3> Ex1</h3>
          <p>teeeext </p>
        </div>
        
        <div class="float-child">
            <h2 class="title2"> Champion breakdowns</h2>
            <canvas class="barchart" id="playedChart" width="400" height="200"></canvas>
            <canvas class="barchart" id="wrChart" width="400" height="200"></canvas>
        </div>
        
      </div>


 
    <script>
        var ctx = document.getElementById("playedChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{labels | safe }},
                datasets: [
                    {
                    label: "Most champions played",
                    data: {{ win_rates | safe }},
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    }
                ]
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
           
        });

        var ctx = document.getElementById("wrChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{labels | safe }},
                datasets: [
                    {
                    label: "Top champions by win-rate",
                    data: {{ win_rates | safe }},
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
    
    
    {%endblock content%}
    
    
