
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends "layout.html" %}
{%block topnav%}{%endblock topnav%}
{%block sidebar%}{%endblock sidebar%}
{%block title%}

<h1 class="welcome"> Customer summoner name search</h1>

<h5 class="subtitle"> Searching for a summoner name on any region is implemented and fully functional. <br>
However, the application currently only has a personal Riot Games API key. <br>
This means that requesting data from the Riot games server is slow. <br>
Data for up to 1000 games will be requested if available, with download times up to <br>
20 minutes.  <br><br>
A production API key is under reqeust. 
<br><br>

<b>It is currently reccommended to use the pre-downloaded test data set.</b><br> 
This is achieved by submitting the home page form with an empty summoner name.
</h5>
<b>

<button class="readme" onclick="window.location.href='{{url_for('home')}}';">
    Return to home page
</button>



{%endblock title%}
{% block content %}
                     
    
{%endblock content%}


