
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends "layout.html" %}
{%block topnav%}{%endblock topnav%}
{%block sidebar%}{%endblock sidebar%}
{%block title%}

<h1 class="welcome"> Custom summoner name search</h1>

<h5 class="subtitle"> Searching for a summoner name currently takes up to 25 minutes due to heavy restrictions on a personal API key. <br>

<b>It is currently reccommended to use the pre-downloaded test data set.</b><br> 
This is achieved by submitting the home page form with an empty summoner name.

An API key with drastically increased request limits is currently under application <br><br>
</h5>


<button class="readme" onclick="window.location.href='{{url_for('home')}}';">
    Return to home page
</button>



{%endblock title%}
{% block content %}
                     
    
{%endblock content%}


