    
    {% extends "layout.html" %}
    {%block title%}
        <h1 class="title">Role breakdown </h1>
        <h6> </h6>
     
        {%endblock title%}
  
    {% block content %}

    <div class="float-child">
        <h2 class="title2"> Win rates by role</h2>  
        <div>
            <canvas id="topChart" width="600" height="350"></canvas>
        </div>
    </div>   

    <div class="float-child">
        <h2 class="title2"> Best champions by role</h2>  
        <div>
            <canvas id="wrChart" width="600" height="350"></canvas>
        </div>
    </div>  

    <div class="float-child2">
        <h2 class="title2"> Win-rate vs cumulative time played by role</h2>  
        <div>
            <canvas id="lineChart" width="1000" height="500"></canvas>
        </div>
    </div>  

  
    <!------------------------Win rates by role---------------------------------------------->
    <script>
        const win_rates = ['{{top_wr}}', '{{jungle_wr}}', '{{middle_wr}}', '{{bottom_wr}}', '{{support_wr}}'];
        Chart.defaults.set('plugins.datalabels', {
            color: '#FE777B'
            });
        
        Chart.register(ChartDataLabels);

        const data = {
            labels: ["Top","Jungle","Middle","Bottom","Support"],
            datasets: [{
                label: 'Wins',
                data: [{{top_wins}},{{jungle_wins}},{{middle_wins}},{{bottom_wins}},{{support_wins}}],
                backgroundColor: [
                'rgb(154, 205, 50)',

                
                ],
                borderColor: [
                'rgb(154, 205, 50)', 
                ],
                borderWidth: 3,

                datalabels:{
                    display : false
                }
            },

            {
                label: 'Losses',
                data: [{{top_losses}},{{jungle_losses}},{{middle_losses}},{{bottom_losses}},{{support_losses}}],
                backgroundColor: [
                'rgb(255, 99, 132)',
            
                ],

                borderColor: [
                'rgb(255, 99, 132)',    
                ],

                borderWidth: 3,

                datalabels: {
                    formatter: function(value, context) {
                        return win_rates[context.dataIndex];;
                        }
                }
          
            }
        
        ]
        };
      
        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: false,
                scales: {
                x: {
                    stacked: true,
                    title:{
                        display: true,
                        text: "Role",
                        font: {   
                            weight : 'bold',
                            size : 16,
                            color: '#000000',
                        }
                    },
                    
                },
                y: {
                    beginAtZero: true,
                    stacked: true,
                    title:{
                        display: true,
                        text: "Number of games",
                        font: {   
                            weight : 'bold',
                            size : 16,
                            color: '#000000',
                        }
                    },
                    }
                },

                plugins:{
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        font: {
                            weight: 'bold'
                        }
                    }

                }
            },
        };
      </script>
      <script>
        const topChart = new Chart(
          document.getElementById('topChart'),
          config
        );
       
      </script>

      <!------------------------Win rates by role---------------------------------------------->
      <script>
        const names1 = {{labels_1 | safe}};
        const names2 = {{labels_2 | safe}};
        const names3 = {{labels_3 | safe}};

        Chart.defaults.set('plugins.datalabels', {
            color: 'black'
            });
        
        Chart.register(ChartDataLabels);

        const data2 = {
            labels: ["Top","Jungle","Middle","Bottom","Support"],
            datasets: [{
                label: '1',
                data: {{data_1 | safe}},
                backgroundColor: [
                '#ED5565',
                '#FFCE54',
                '#48CFAD',
                '#5D9CEC',
                '#EC87C0'

                
                ],
                borderColor: [
                '#ED5565',
                '#FFCE54',
                '#48CFAD',
                '#5D9CEC',
                '#EC87C0'   
                ],
                borderWidth: 3,

                datalabels: {
                    formatter: function(value, context) {
                        return names1[context.dataIndex];;
                        }
                },
            },

            {
                label: '2',
                data: {{data_2 | safe}},
                backgroundColor: [
                '#ED5565',
                '#FFCE54',
                '#48CFAD',
                '#5D9CEC',
                '#EC87C0'
            
                ],

                borderColor: [
                '#ED5565',
                '#FFCE54',
                '#48CFAD',
                '#5D9CEC',
                '#EC87C0'   
                ],

                borderWidth: 3,

                datalabels: {
                    formatter: function(value, context) {
                        return names2[context.dataIndex];;
                        }
                },
          
            },
            {
                label: '3',
                data: {{data_3 | safe}},
                backgroundColor: [
                '#ED5565',
                '#FFCE54',
                '#48CFAD',
                '#5D9CEC',
                '#EC87C0'
            
                ],

                borderColor: [
                '#ED5565',
                '#FFCE54',
                '#48CFAD',
                '#5D9CEC',
                '#EC87C0'  
                ],

                borderWidth: 3,

                datalabels: {
                    formatter: function(value, context) {
                        return names3[context.dataIndex];;
                        }
                },
          
            }
        
        ]
        };
      
        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                layout: {
                padding: {
                    
                    
                    top: 100,
                    
                }
            },
                responsive: false,
                scales: {
                x: {
                    
                    title:{
                        display: true,
                        text: "Role",
                        font: {   
                            weight : 'bold',
                            size : 16,
                            color: '#000000',
                        }
                    },
                    
                },
                y: {
                    
                    title:{
                        display: true,
                        text: "Win rate (%)",
                        font: {   
                            weight : 'bold',
                            size : 16,
                            color: '#000000',
                        }
                    },
                    }
                },

                plugins:{
                    legend: {
                            display: false
                        },
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        rotation:90,
                        font: {
                            weight: 'bold'
                        }
                    }

                }
            },
        };
      </script>
      <script>
        const wrChart = new Chart(
          document.getElementById('wrChart'),
          config2
        );
       
      </script>

 <!------------------------Win rates by time-played-role---------------------------------------------->

 <script>
    var ctx = document.getElementById("lineChart").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: {{time_overall | safe }},
                    datasets: [
                        {
                        label: "Top",
                        data: {{ cum_wr_top | safe }},
                        pointRadius: 0,
                        backgroundColor:'#ED5565',
                        borderColor: '#ED5565',
                        tension : 0.4,
                        borderWidth : 4,
                       
                        },

                        {
                        label: "Jungle",
                        data: {{ cum_wr_jungle | safe }},
                        pointRadius: 0,
                        backgroundColor:'#FFCE54',
                        borderColor: '#FFCE54',
                        tension : 0.4,
                        borderWidth : 4,         
                        },

                        {
                        label: "Middle",
                        data: {{ cum_wr_middle | safe }},
                        pointRadius: 0,
                        backgroundColor:'#48CFAD',
                        borderColor: '#48CFAD',
                        tension : 0.4,
                        borderWidth : 4,
                        },

                        {
                        label: "Bottom",
                        data: {{ cum_wr_bottom | safe }},
                        pointRadius: 0,
                        backgroundColor: '#5D9CEC',
                        borderColor:  '#5D9CEC',
                        tension : 0.4,
                        borderWidth : 4,
                        },

                        {
                        label: "Support",
                        data: {{ cum_wr_support | safe }},
                        pointRadius: 0,
                        backgroundColor: '#EC87C0',
                        borderColor:  '#EC87C0',
                        tension : 0.4,    
                        borderWidth : 4,                  
                        },

                        {
                        label: "Overall",
                        data: {{ cum_wr_overall | safe }},
                        pointRadius: 0,
                        backgroundColor: '#4F6D7A',
                        borderColor:  '#4F6D7A',
                        tension : 0.1,
                        borderWidth : 4,                       
                        
                        },
   
                    ],
                
                },
                options: {
                   
                    plugins: {
                        datalabels: {
                            display: false,
                        },
                    },
                    scales: {
                        x: {
                            min: 10,
                            display: true,
                            type: 'logarithmic',
                            title:{
                            display: true,
                            text: "Log Scale : cumulative time played",
                            font: {   
                                weight : 'bold',
                                size : 16,
                                color: '#000000',
                                    }
                            },
                            
                        },
                        y: {
                            max: 100,
                            min : 0,
                            display: true,
                            title:{
                            display: true,
                            text: "Win rate (%)",
                            font: {   
                                weight : 'bold',
                                size : 16,
                                color: '#000000',
                                    }
                            },
                            
                        }
                        },


                    responsive: false,

                    
                  
                },
            
            });
      </script>



      {%endblock content%}