
    {% extends "layout.html" %}
    {%block title%}
        <h1 class="title">Key indicator averages for {{user}} </h1>
        <h6> Top 5 and bottom 5 averages for {{user}} relative to other players</h6>
     
        {%endblock title%}
  
    {% block content %}

    <div class="float-child">
    <h2 class="title2"> Top attributes for {{user}}</h2>     
    <h6><b>{{top_vars_1}}</b> {{user}} : {{top_user_1}} | Other players {{top_other_1}}</h6>
    <canvas id="myChart" width="400" height="200"></canvas>

    <h6><b>{{top_vars_2}}</b> {{user}} : {{top_user_2}} | Other players {{top_other_2}}</h6>
    <canvas id="myChart2" width="400" height="200"></canvas>

    <h6><b>{{top_vars_3}}</b> {{user}} : {{top_user_3}} | Other players {{top_other_3}}</h6>
    <canvas id="myChart3" width="400" height="200"></canvas>

    <h6><b>{{top_vars_4}}</b> {{user}} : {{top_user_4}} | Other players {{top_other_4}}</h6>
    <canvas id="myChart4" width="400" height="200"></canvas>

    
    <h6><b>{{top_vars_5}}</b> {{user}} : {{top_user_5}} | Other players {{top_other_5}}</h6>
    <canvas id="myChart5" width="400" height="200"></canvas>

    

    </div>   

    <div class="float-child">
        <h2 class="title2"> Bottom attributes for {{user}}</h2>     
        <h6><b>{{top_vars_1}}</b> {{user}} : {{top_user_1}} | other players {{top_other_1}}</h6>
        
        
        </div>   
    
    
    
    
    
    <script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = true;

      // define the chart data
      var chartData = {
                    labels: [
                        '{{user}}',
                        'Other players',
            
                    ],
                    datasets: [
            
                      {
                        data: [{{top_user_1}},{{top_other_1}}],
                        backgroundColor : ['#89CFF0','#f56954']
                      },
                    ]
      }

      // get chart canvas
      var ctx = document.getElementById("myChart").getContext("2d");

      var options = { 
              tooltips: {
                enabled: false
              },
              plugins: {

            

                labels: [
                        {
                            render: 'label',
                            position: 'outside',
                            fontColor: '#000',
                            fontSize: 15
                        },
                        {
                            render: 'percentage',
                            fontColor: '#000',
                            fontSize: 10,
                            position: 'border'
                        }
                ]
                
               }
};
      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: chartData,
          options:options
      });

      var chartData2 = {
                    labels: [
                        '{{user}}',
                        'Other players',
            
                    ],
                    datasets: [
            
                      {
                        data: [{{top_user_2}},{{top_other_2}}],
                        backgroundColor : ['#89CFF0','#f56954']
                      },
                    ]
      }



    

      // get chart canvas
      var ctx = document.getElementById("myChart2").getContext("2d");

      var options = {
              tooltips: {
                enabled: false
              },
              plugins: {

            

                labels: [
                        {
                            render: 'label',
                            position: 'outside',
                            fontColor: 'white',
                            fontSize: 15
                        },
                        {
                            render: 'percentage',
                            fontColor: 'white',
                            fontSize: 10,
                            position: 'border'
                        }
                ]
                
               }

};



      var myChart2 = new Chart(ctx, {
        type: 'doughnut',
        data: chartData2,
          options:options
      });


      var chartData3 = {
                    labels: [
                        '{{user}}',
                        'Other players',
            
                    ],
                    datasets: [
            
                      {
                        data: [{{top_user_3}},{{top_other_3}}],
                        backgroundColor : ['#89CFF0','#f56954']
                      },
                    ]
      }



    

      // get chart canvas
      var ctx = document.getElementById("myChart3").getContext("2d");

      var options = {
              tooltips: {
                enabled: false
              },
              plugins: {

            

                labels: [
                        {
                            render: 'label',
                            position: 'outside',
                            fontColor: '#000',
                            fontSize: 15
                        },
                        {
                            render: 'percentage',
                            fontColor: '#000',
                            fontSize: 10,
                            position: 'border'
                        }
                ]
                
               }

};



      var myChart3 = new Chart(ctx, {
        type: 'doughnut',
        data: chartData3,
          options:options
      });

      var chartData4 = {
                    labels: [
                        '{{user}}',
                        'Other players',
            
                    ],
                    datasets: [
            
                      {
                        data: [{{top_user_4}},{{top_other_4}}],
                        backgroundColor : ['#89CFF0','#f56954']
                      },
                    ]
      }



    

      // get chart canvas
      var ctx = document.getElementById("myChart4").getContext("2d");

      var options = {
              tooltips: {
                enabled: false
              },
              plugins: {

            

                labels: [
                        {
                            render: 'label',
                            position: 'outside',
                            fontColor: '#000',
                            fontSize: 15
                        },
                        {
                            render: 'percentage',
                            fontColor: '#000',
                            fontSize: 10,
                            position: 'border'
                        }
                ]
                
               }

};



      var myChart4 = new Chart(ctx, {
        type: 'doughnut',
        data: chartData4,
          options:options
      });

      var chartData5 = {
                    labels: [
                        '{{user}}',
                        'Other players',
            
                    ],
                    datasets: [
            
                      {
                        data: [{{top_user_5}},{{top_other_5}}],
                        backgroundColor : ['#89CFF0','#f56954']
                      },
                    ]
      }



    

      // get chart canvas
      var ctx = document.getElementById("myChart5").getContext("2d");

      var options = {
              tooltips: {
                enabled: false
              },
              plugins: {

            

                labels: [
                        {
                            render: 'label',
                            position: 'outside',
                            fontColor: '#000',
                            fontSize: 15
                        },
                        {
                            render: 'percentage',
                            fontColor: '#000',
                            fontSize: 10,
                            position: 'border'
                        }
                ]
                
               }

};



      var myChart5 = new Chart(ctx, {
        type: 'doughnut',
        data: chartData5,
          options:options
      });
    </script>
{%endblock content%}