/* Style page content */
.body{
  background-image: linear-gradient(to bottom right, rgb(52, 0, 174), #0C0032);
  height:  100%;
  
}

.welcome{
  text-align: center;
  padding-top: 10%;
  
  color: white;
  font-size: 500%;
}

.subtitle {
  text-align: center;
  padding-top: 3%;
  color: white;
  font-size: 200%;
  text-decoration: double;
}

.userForm div{
  margin:0;
}

.main {
  margin:auto;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 61, 61, 0);
  
}

.contents{
  padding-top: 1%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(206, 197, 197);
  border-color: #111;
}


 .title{
  color: white;
  margin: auto;
  text-align: center;
  font-size: 5  00%;
  text-decoration: underline;
  
 }

 .content-title h1 {
  font-size: 100;
 }
 .title2{
  color: white;
  margin: 0;
  text-align: center;
  
  text-decoration: underline;
 }
 .title3{
  color: #000000;
  margin: 0;
  text-align: left;
  
 }

.chart{
  
  margin: auto;
  padding: auto;
}
.content {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  
}

form {
  width: 10%;
  height: auto;
  padding: center;
  margin: center;
  align-items: center;
  align-content: center;
 
}

input{
  width: 400%;
  
  margin-left: 200%;
}

button{
  width: 20%;
  margin-left: 30%;
  margin-top: 5%;
  
}



.float-container {
  margin-top: 2%;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  
}

.float-child p{
  text-align: center;
  margin-top: auto;
  margin-bottom: 3.5%;
  color: #ffffff;
}

.float-child9 p{
  text-align: center;
  margin:auto;
  margin-top: auto;
  margin-bottom:1%;
  color: #ffffff;
}


.float-child canvas {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  
}

.float-child2 {
  width: 100%;
  float: center;
  padding: 20px;
  
}  

.float-child2 canvas {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  
}

.float-child3 {
  width: 50%;
  float: left;
  padding: 20px;
  
}  

.float-child3 canvas {
  margin: 0 auto;
  width: 40%;
  height: 50%;
  
}

.float-child9{
  margin: auto;
  width: 50%;
  height : 40%;
  float: left;
  padding: 20px;
}

.float-child9 canvas{
  width: 100%;
  height: 100%;
  
}

.float-child h5 {
  
  text-align: left;
  
}

.float-child p {
  text-align: center;
  
}
.float-child2 {
  width: 100%;
  float: left;
  padding: 20px;
  padding-bottom: 200px;
  
}  
.float-child2 p {
  text-align: center;
  margin: 0;
}


.form-control{
  width: 350%;
  text-align: center;
  padding: center;
  margin-left: 325%;
  
}

.btn{
  margin-top: 5%;
  width: 200%;
  margin-left: 400%;
  background-color: #115e91;
  color: #ffffff;
  
}

.readme{
  margin-top: 5%;
  outline: #ffffff;
  margin-left: 40%;
  background-color: #115e91;
  color: #ffffff;
  
}

.float-child h4 {
  
  text-align: center;
  
}

h6 {
  text-align: center;
  margin-top: 2.5%;
  color: #ffffff;
}

.subtext {
  text-align: center;
  margin-top: 0;
  color: #ffffff;
  text-decoration: underline;
  margin-bottom: 1%;
}

.subtextPara{
  text-align: center;
  margin-top: auto;
 
  margin-bottom: 3.5%;
  color: #ffffff;
}

.float-child h6 {
  
  text-align: center;
}

nav {
  margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background:#282828;
  text-align: center;
}

nav ul {
  margin:0;
  padding:0;
  display: inline-block;
  list-style-type:none;
  text-align: center;
  font-size: 20px;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  text-align: center;
  display:inline-block;
}

li > a:after { content: '»»'; } /* Change this in order to change the Dropdown symbol */

li > a:only-child:after { content: ''; }

nav ul li a {
  text-align: center;
  padding:20px;
  display:inline-block;
  color:white;
  text-decoration:none;
  text-align: center;
  
}

nav ul li a:hover {
  opacity:0.5;
  text-align: center;
}

nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:#282828;
  text-align: center;
  
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
  text-align: center;
}

nav ul li:hover ul {
  display:block;
  text-align: center;
}