/* Style page content */
.body{
  background-color: rgba(221, 221, 221, 0.37);
}

.welcome{
  text-align: center;
  padding-top: 20%;
  color: rgb(7, 7, 7);
  font-size: 500%;
}

.title{
  color: #000000;
  margin-left: 250px;
  margin-top: 1%
 }

.main {
  margin-left: 12.5%;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 85%;
  height: 80%;
  
  background-color: rgba(221, 221, 221, 0.37);
  
}

.contents{
  padding-top: 1%;
  z-index: 1;
  background-color: rgb(206, 197, 197);
}


 .title{
  color: #000000;
  
  margin-top: 1%;
  text-align: center;
 }

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0px; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}

/* The navigation menu links */
.sidenav a {
  margin-top: 50px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

