/* Style page content */
.body{
  background-color: #0C0032;
}

.welcome{
  text-align: center;
  padding-top: 10%;
  margin-right: 17.5%;
  color: rgb(7, 7, 7);
  font-size: 500%;
}

.subtitle {
  text-align: center;
  padding-top: 10%;
  margin-right: 17.5%;
  color: rgb(7, 7, 7);
  font-size: 200%;
  text-decoration: double;
}


.main {
  margin-left: 12.5%;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 85%;
  height: 80%;
  
  background-color: rgba(63, 61, 61, 0);
  
}

.contents{
  padding-top: 1%;
  z-index: 1;
  width: auto;
  height: auto;
  background-color: rgb(206, 197, 197);
  border-color: #111;
}


 .title{
  color: white;
  
  text-align: center;
 }
 .title2{
  color: white;
  margin: 0;
  text-align: center;
  
  text-decoration: underline;
 }
 .title3{
  color: #000000;
  margin: 0;
  text-align: left;
  
 }
 .rank{
  color: #000000;
  margin-top: 1%;
  margin-left: 15%;
  font-size: 200%;
 }


/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0px; /* Stay at the top */
  left: 0;
  background-color: #240090; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin: auto;

}

/* The navigation menu links */
.sidenav a {
  margin-top: 50px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


.chart{
  
  margin: auto;
  padding: auto;
}
.content {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  margin-left: 17.50%;
}

form {
  width: 10%;
  height: auto;
  padding: center;
  margin: center;
  align-items: center;
  align-content: center;
 
}

input{
  width: 400%;
  
  margin-left: 200%;
}

button{
  width: 20%;
  margin-left: 30%;
  margin-top: 5%;
  
}


/* Add a black background color to the top navigation */
.topnav {
  margin-top: 0%;
  border-bottom: #f1f1f1;
  border-bottom: 1%;
  border-color: #f1f1f1;
  background-color: #240090;
  overflow: hidden;
  height: 5%;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav p {
  margin-left: 10%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  height: 30%;
}

.float-container {
  margin-top: 2%;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  
}  

.float-child2 {
  width: 100%;
  float: center;
  padding: 20px;
  
}  

.float-child h5 {
  
  text-align: left;
  
}

.float-child p {
  text-align: left;
  
}
.float-child2 {
  width: 100%;
  float: left;
  padding: 20px;
  padding-bottom: 200px;
  
}  
.float-child2 p {
  text-align: center;
  margin: 0;
}
.float-child2 canvas {
  margin: 0 auto;
  
}

.form-control{
  width: 350%;
  text-align: center;
  padding: center;
  margin-left: 225%;
}

.btn{
  margin-top: 5%;
  width: 200%;
  margin-left: 300%;
}

.float-child h4 {
  
  text-align: center;
  
}

h6 {
  text-align: center;
  margin-top: 5%;
  color: #ffffff;
}

.float-child h6 {
  
  text-align: center;
}
.float-child canvas {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  
}